{{define "header"}}
<html>
    <body>
{{end}}

{{define "footer"}}
    <p>Copyright Loknath Dhar 2024</p>
    <!---Note: This boyd & html tags are not opened in this named template-->
    </body>
</html>
{{end}}